
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery Mobile Example</title>

    <link href="css/jquery-ui.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    </head>
  <body>
         
<div id ="page1">
     {{{ body }}}
</div>
   
 <script src="js/jquery-1.10.2.js"></script>

       <script>
                $('document').ready(function(){
                        $('h1').css("background", "red").html('jQuery Works');
                });
        </script>

  </body>
</html>